<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Synoptic</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/synoptic.css" />
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <p><h2>Synoptic</h2></p>
      </div>
      <div id="navigation">
        <p><strong>
            N A V I G A T I O N
          </strong>
          | About |  Contact  | Help | and the usual suspects
        </p>
      </div>
      <div id="leftcontainer">
        <div id="lefttopcolumn">
          <form class="ulcheckboxlist"  action="">
            <ul>
              <li><input type="checkbox"   name="Tree" value="Bike">
                  Deciduous
                </li>
                <ul>
                  <li>
                    <li>
                      <input type="checkbox" name="vehicle" value="Car">
                        Leaves
                        <ul>
                          <li><input type="checkbox"   name="Tree" value="Bike">
                              Spade Shaped
                            </li>
                            <li>
                              <input type="checkbox" name="vehicle" value="Car">
                                Smooth Edges
                              </li>
                              <li>
                                <input type="checkbox" name="vehicle" value="Car">
                                  Purple
                                </li>
                                <ul>
                                </li>
                                <ul>
                                  <li><input type="checkbox" name="vehicle" value="Bike">
                                      Central vein
                                    </li>
                                    <li>
                                      <input type="checkbox" name="vehicle" value="Car">
                                        It's Past lunch time
                                      </li>
                                      <li>
                                        <input type="checkbox" name="vehicle" value="Airplane">
                                          I'am getting impatent
                                        </li>
                                      </ul>
                                      <li>
                                        <input type="checkbox" name="vehicle" value="Car">
                                          Leaf Shape
                                        </li>
                                        <ul>
                                          <li><input type="checkbox" name="vehicle" value="Bike">
                                              Palmate leaves
                                            </li>
                                            <li>
                                              <input type="checkbox" name="vehicle" value="Car">
                                                Opposite leaves
                                              </li>
                                              <li>
                                                <input type="checkbox" name="vehicle" value="Airplane">
                                                  Alternate  leaves
                                                </li>
                                              </ul>
                                              <li>
                                                <input type="checkbox" name="vehicle" value="Airplane">
                                                  Leaves Surrond stem
                                                </li>
                                              </ul>
                                            </form>
                                          </div>
                                          <div id="leftbottomcolumn">
                                            <p>
                                              12 of 24 species remain</p>
                                            <ul>
                                              <li>
                                                <a href=#>
                                                  Populus tremuloides
                                                </a></li>
                                              <li>
                                                <a href=#>Milk Weed</a></li>
                                              <li>
                                                <a href=#>Cattails</a></li>
                                              <li>
                                                <a href=#>Dandilion</a></li>
                                              <li>
                                                <a href=#>Snow Berrys</a></li>
                                              <li>
                                                <a href=#>Hucle berry</a></li>
                                              <li>
                                                <a href=#>Quaking Aspen</a></li>
                                              <li>
                                                <a href=#>Black Cotton Wood</a></li>
                                              <li>
                                                <a href=#>Vine Maple</a></li>
                                                <li> Sugar Plumb tree</li>
                                                <li> Gigantic Redwood</li>
                                                <li> Jumbo Bonzai</li>
                                                <li> Giant Bean Stalk</li>
                                                <li> Magical Money Tree</li>
                                                <li> Plain ole Tree</li>
                                            </ul>
                                            
                                          </div>
                                        </div>
                                        <div id="content">
                                          <h3>Populus tremuloides
                                          </h3><br />
                                          <p>also known as American Aspen, Quaking Aspen, Trembling Aspen, Quakies, Quakers, Popple, Golden Aspen, Mountain Aspen, Poplar, Trembling Poplar, Alamo Blanco, and Alamo Temblon, is a deciduous tree native to cooler areas of North America.
                                          </p>
                                          <br />
                                          <img src = "http://www.rook.org/earl/bwca/nature/trees/POPTRE_KS6.jpg">
                                          </div>
                                          <div id="footer">
                                            <p>This is the Footer. It contains important information</p>
                                          </div>
                                        </div>
                                      </body>
                                    </html>
