<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Synoptic</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/synoptic.css" />
</head>
<body>
	<div id="wrapper">
         <div id="header">
		       <p><h2>Synoptic</h2></p>		 
		 </div>
         <div id="navigation">
           <p><strong> N A V I G A T I O N </strong>  | About |  Contact  | Help | and the usual suspects </p>		 
		 </div>
		 <div id="leftcontainer">
		 <div id="lefttopcolumn">
		       <ul>
		       <li> leaves</li>
		       <ul>
		       <li> Palmate </li>
		       <li> linear</li>
		       <li> needles</li>
		       </ul>
		       <li> flowers</li>
           <ul>
             <li> 3 or 6 pedals </li>
             <li> 4  pedals </li>
             <li> 5  pedals </li>
             <ul>
               <li> Bilateral </li>
               <li> Dense Heads </li>
               <li> Radial </li>

             </ul>
             <li> Lots of pedals </li>
             <li> What pedals pedals </li>
           </ul>
		       <li> trees</li>
		       <li> bushes</li>
		       <li> little bushes</li>
		       <li> prostrate weeds</li>
		       <li> harry grasses</li>
		       <li> pokey weeds</li>
		       <li> bushes</li>
		       <li> bushes</li>
		       <li> bushes</li>
		       <li> and more bushes</li>
		       <li> bushes</li>
		       <li> bushes</li>
		       <li> bushes</li>
		       <li> bushes</li>
		       </ul>
		 </div>
		 <div id="leftbottomcolumn">
		 <ul>
		       <li> Green</li>
		       <ul>
		       <li> Blue </li>
		       <li> Yellow</li>
		       <li> Pink </li>
		       </ul>
		       <li> Thin</li>
		       <li> Fat</li>
		       <li> Tastes like chicken</li>
		       <li> Round</li>
		       <li> Triangular</li>
		       <li> wonky</li>
		       <li> Round</li>
		       <li> Odererferious</li>
		       <li> Round</li>
		       <li> Sweet Smelling</li>
		       </ul>
		      
		 </div>
		 </div>
		 <div id="content">
			  <p>This is the main content</p><br /><br /> 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada mi vel nibh pretium dictum. Ut posuere justo ac nulla hendrerit in sagittis velit viverra. Ut et nulla mi. Mauris consequat, leo eu adipiscing facilisis, mi lacus bibendum ipsum, volutpat ultricies metus lacus in tortor. Curabitur nec odio magna, sed posuere eros. Ut eu nisl turpis, volutpat scelerisque lacus. Fusce turpis sem, euismod eu lacinia in, rutrum vehicula mi. Suspendisse potenti. Vestibulum commodo, sem sit amet sollicitudin varius, libero tortor posuere ante, id accumsan dolor neque a mauris. Maecenas ut urna in massa placerat consectetur. Aenean vel nisi non eros porta sollicitudin vel sed ante. Donec nec lectus sit amet nisl consequat accumsan. Aliquam id mauris nulla. Proin in velit tellus. Aliquam porta vulputate euismod. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas rutrum diam quis lacus vestibulum non fermentum metus semper. Ut at tellus id lectus tristique auctor sed ac arcu. Phasellus id tellus nulla, non fringilla arcu. Etiam urna odio, consectetur sit amet porttitor ut, varius quis diam.

      Curabitur fringilla erat aliquam odio euismod pharetra. Nam lacinia dui non augue bibendum lacinia. Donec tincidunt dignissim gravida. Fusce condimentum varius sapien, id sagittis elit fermentum eget. Nullam convallis velit sit amet mi luctus pulvinar et ac sem. Nunc vel ligula ac arcu congue gravida. Donec risus turpis, sagittis a posuere a, hendrerit id nulla. Vestibulum in odio felis. Vivamus condimentum condimentum commodo. In ornare ullamcorper odio nec convallis. Nam varius, enim vitae porttitor scelerisque, turpis ligula tempor tellus, id dignissim elit neque ut lacus. Aliquam quis velit posuere leo posuere molestie in a leo. Cras odio odio, euismod accumsan tempor a, iaculis eget leo. Vestibulum porttitor dignissim dui at blandit. Ut vel orci in sem bibendum vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam hendrerit eleifend tincidunt. Ut sed est nec dolor consectetur tempus sagittis eu erat.

      Sed tincidunt, est in malesuada sollicitudin, arcu metus venenatis ante, tempor blandit velit lectus non nulla. Morbi eget diam eget purus ultrices rutrum sit amet quis lacus. Donec aliquam dui eget libero rhoncus rutrum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam congue fermentum nibh in mollis. Nunc convallis lectus justo. Duis hendrerit consequat nibh quis sodales. Sed convallis varius arcu lacinia interdum. Curabitur velit tortor, convallis semper venenatis ut, sollicitudin non nibh. Maecenas elementum tincidunt luctus. Nam eget ante felis, ut convallis orci. Curabitur gravida placerat fermentum. Aenean dui leo, imperdiet id pretium eget, scelerisque quis erat. Praesent id odio nulla, mattis fringilla ante. Maecenas dignissim nibh nec dui semper dignissim. Proin sodales leo at lectus hendrerit viverra in et libero.

      Vestibulum ullamcorper dui et quam dictum id malesuada odio ornare. Fusce id tincidunt quam. Etiam ornare justo vitae risus feugiat ut eleifend nibh euismod. Suspendisse semper, eros eget lacinia ultricies, elit mi tempor velit, eu cursus tellus nisi a lorem. Aliquam consequat auctor varius. Cras nisl nulla, volutpat nec fringilla quis, suscipit quis elit. Quisque quis tellus id quam elementum pharetra. Nam vitae eros ac arcu facilisis tristique eu eu justo. In tempor scelerisque nulla, vitae tincidunt nibh mattis ac. Mauris vel mi in odio suscipit interdum. Aliquam rutrum posuere velit dapibus dapibus. Vestibulum sollicitudin aliquet felis ut auctor. Quisque tortor turpis, venenatis quis venenatis mattis, commodo rhoncus orci. Proin posuere lacinia pharetra. Mauris ut tellus sed neque semper commodo. Mauris a sem diam, eu imperdiet diam. In eget tortor eu velit tincidunt congue quis tempus nisl. Fusce convallis consequat arcu quis semper. Fusce malesuada cursus leo, in gravida libero convallis vel. Nulla facilisi.

      Aenean pellentesque aliquam dolor, ac dictum velit lobortis non. Curabitur sed arcu id lacus accumsan pellentesque a at dui. Praesent sodales facilisis dictum. Maecenas imperdiet augue vitae libero malesuada sit amet lobortis purus imperdiet. Donec at leo hendrerit enim cursus faucibus nec sed massa. Vestibulum dignissim nunc quis nibh sodales porttitor eu sit amet ligula. Nullam eu sem elementum odio pharetra feugiat. Aliquam pretium pretium diam eget vehicula. Integer non nulla vestibulum tellus rhoncus semper. Nam luctus blandit dictum. Pellentesque non quam libero. Mauris mollis vulputate aliquam. Aliquam velit elit, adipiscing sed egestas et, dictum rutrum augue. Suspendisse blandit dapibus tellus, in egestas felis auctor acaa
        <% yield -%>
             
		 </div>
		 <div id="footer">
			   <p>This is the Footer. It contains important information</p>		
	     </div>  
 </div>
</body>
</html>
