<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Synoptic</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/synoptic.css" />
</head>
<body>
	<div id="wrapper">
         <div id="header">
		       <p><h2>Synoptic</h2></p>		 
		 </div>
         <div id="navigation">
		       <p>N A V I G A T I O N</p>		 
		 </div>
		 <div id="leftcontainer">
		 <div id="lefttopcolumn">
		       <ul>
		       <li> leaves</li>
		       <ul>
		       <li> Palmate </li>
		       <li> linear</li>
		       <li> needles</li>
		       </ul>
		       <li> flowers</li>
		       <li> trees</li>
		       <li> bushes</li>
		       </ul>
		 </div>
		 <div id="leftbottomcolumn">
		 <ul>
		       <li> Green</li>
		       <ul>
		       <li> Blue </li>
		       <li> Yellow</li>
		       <li> Pink </li>
		       </ul>
		       <li> Thin</li>
		       <li> Fat</li>
		       <li> Round</li>
		       </ul>
		      
		 </div>
		 </div>
		 <div id="content">
			  <p>This is the main content</p><br /><br /> 
        <% yield -%>
             
		 </div>
		 <div id="footer">
			   <p>This is the Footer</p>		
	     </div>  
 </div>
</body>
</html>
